//DATA//
  profile: DB.FindOne(refid, { collection: 'profile' })

div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Detail Change
    .card-content
      form(method="post" action="/emit/setUnlockState")
        .field
          label.label ID
          .control
            input.input(type="text" name="refid", value=refid readonly)
        .field
          label.label Unlock All
          .control
            input(type="checkbox" name="unlock_all", checked=profile.unlockAll) 
            |   Turn this on to max out all characters and unlock 11 hidden songs.
        .field
          button.button.is-primary(type="submit") 
            span.icon
              i.mdi.mdi-check
            span Submit
