//DATA//
  profile: DB.Find(refid, { collection: 'music' })

-
  //const padded = _.padStart(profile.id.toString(), 8);
  //const sdvxid = `${padded.slice(0, 4)}-${padded.slice(4)}`;

link(rel="stylesheet" href="static/asset/css/datatables.css")
div
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Score
    .card-content
      table.table(id="music_score" style="width:100%")
        thead
          tr    
            th ID
            th Song Name
            th Difficulty
            th Level
            th Score
            th Exscore
            th Grade
            th Clear Medal
        tbody


div(hidden id='data-pass') !{JSON.stringify(profile)}
script(src="static/asset/js/score.js") 
script(src="static/asset/js/datatables.js")