//DATA//
  

-


.card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-comment-question-outline
        | Why my scores are not saving?
    .card-content
        div 
            | If you got later versions of the game, since how the game communicate with the server has been changed, you'll have to change the datecode to the correct version.

.card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-comment-question-outline
        | The game can't load my card and always gives me "Line Busy" error, what can I do?
    .card-content
        div 
            | Check if your card0.txt is correct format, if it doesn't exists, create one. After that, try re-entry with the new file.

.card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-comment-question-outline
        | I can't use features other than NORMAL,FRIEND, and SKILL ANALYZER, why?
    .card-content
        div 
            | First, check if you enabled freeplay in the test menu. If not, check if you disabled Asphyxia's PASELI feature.

.card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-comment-question-outline
        | I can't use card, but I can pass the network check and play as guest, what should I do?
    .card-content
        div 
            | You might accidentally enabled maintainence mode in Asphyxia, disable it using the Dashboard page.


.card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-comment-question-outline
        | My Lane and Laser disappeared, what happened?
    .card-content
        div 
            | If you're using AMD cards, sorry, you'll have to use the d3d9on12-wrapper to force Windows translate the game into DX12 in order to show lane and laser, this only works on Win 10 1903 and later.
            | If you're using older NVIDIA graphics cards, sorry, you'll have to bought new ones.

.card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-comment-question-outline
        | I have used other forks of this plugin, and my save data is gone, what happened?
    .card-content
        div 
            | Some forks provided support for *several not supported* versions of the game, and they might have different save data format.
            | If you want to use main branch version, please make sure you have a backup of your save data.