- let music = 0;
- let event = 0;
- let catalog = 0;

game
    limited
        while music < 200
            music(id=music++, flag=2)

    event
        while event < 16
            info(id=event++)

    catalog
        while catalog < 256
            info(id=catalog++, currency=1, price=1)
