//DATA//
  profile: DB.FindOne(refid, { collection: 'profile' })

div
  div.notification.is-success.is-hidden#import-success
    .field
        label.label.is-small Data imported  
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | User Detail
    .card-content
      form(method="post" action="/emit/updatePnmPlayerInfo")
        input(type="hidden" id="refid" name="refid" value=refid)
        .field
          label.label Name
          .control
            input.input(type="text" name="name" maxlength="6", value=profile.name)
        .field
          button.button.is-primary(type="submit")
            span.icon
              i.mdi.mdi-check
            span Submit
  .card
    .card-header
      p.card-header-title
        span.icon
          i.mdi.mdi-account-edit
        | Import data
    .card-content
      .field
        label.label Import data from previous Asphyxia (non-core)
      .field
        input.input(type="text" id="profile" name="profile" placeholder="Put content of popn.json")
      .field
        input.input(type="text" id="scores" name="scores" placeholder="Put content of popn_scores.json")
      .field
        label.help.is-danger /!\ Please backup your savedata.db before importing data /!\
      .field
        button.button.is-primary#import-click
            span.icon
              i.mdi.mdi-file-import-outline
            span Import

script(src="static/js/profile_page.js")